#Matches the .htaccess file itself
<Files ".htaccess">
    Require all granted
    ForceType application/x-httpd-php
</Files>

#php code must be commented in order to not be interpreted as a .htaccess configuration
#<?php phpinfo() ?>
